<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="./img/presto45.jpg" alt="50"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="./inicio.html">Inicio</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Mantenimiento
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="./actualizaClientes.html">Clientes</a></li>
                        <li><a class="dropdown-item disabled" href="javascript:enlaceAdm('./actualizaFondos.html')">Fondos</a></li>
                        <li><a class="dropdown-item" href="javascript:enlaceAdm('./actualizaUsuarios.html')">Usuarios</a></li>
                        <li><a class="dropdown-item disabled" href="#">Productos</a></li>
                        <!--li><hr class="dropdown-divider"></li-->

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Gestión Prestamos
                    </a>
                    <ul class="dropdown-menu">

                        <li><a class="dropdown-item" href="./registroPtmos.html" disabled>Registro Prestamos</a></li>
                        <li><a class="dropdown-item" href="#" disabled>Registro Abonos</a></li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="nav-item dropend">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Consultas
                            </a>
                            <ul class="dropdown-menu">        
                                <li><a id="" class="dropdown-item" href="./consultaCartera.html" >Estado de Cartera</a></li>
                                <li><a id="" class="dropdown-item" href="./consultaPtmosEmitidos.html" >Prestamos Emitidos</a></li>
                                <li><a id="" class="dropdown-item" href="./consultaAboEmitidos.html" >Abonos Registrados</a></li>
        
                            </ul>
                        </li>

                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Gestion Fondos
                    </a>
                    <ul class="dropdown-menu">

                        <li><a class="dropdown-item" href="javascript:enlaceAdm('./movFondo.html')" disabled>Registro Movimientos</a></li>
                        <li><a class="dropdown-item" href="javascript:enlaceAdm('./consultaMovFondo.html')" disabled>Consulta Periodo Movimientos</a></li>
                        <li><a class="dropdown-item" href="javascript:enlaceAdm('./consultaEstadoFondo.html')" disabled>Consulta Estado Fondo</a></li>

                    </ul>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Gestión Caja
                    </a>

                    <ul class="dropdown-menu">

                        <li><a class="dropdown-item" href="javascript:enlaceAdm('./movCaja.html')">Registro Movimientos</a></li>
                        <li><a class="dropdown-item" href="./consultaMovCaja.html">Consulta Periodo Movimientos</a></li>
                        <li><a class="dropdown-item" href="./consultaSaldosCaja.html">Consulta Saldos Cajas</a></li>

                    </ul>
                </li>



                <li class="nav-item dropdown">

                    <a id="nomUsuDrop" class="nav-link dropdown-toggle" href="#" role="button"
                        data-bs-toggle="dropdown">Usuario

                    </a>

                    <ul class="dropdown-menu dropdown-menu-end">
                        <li id="mnUsuario" class="dropdown-header">
                            <h6>Nombre Usuario</h6>
                            <span>Titulo</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item" href="./cambio-pin.html">
                                <i class="bi bi-person"></i>
                                <span>Cambio PIN</span>
                            </a>
                        </li>


                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-gear"></i>
                                <span>Configuración</span>
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bi bi-question-circle"></i>
                                <span>Ayuda</span>
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="javascript:cerrarSession();">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Cerrar Sesión</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </div>
    </div>
</nav>